#nav-main > a:hover {
    text-decoration: underline;
}

#nav-main > span {
    color:grey ;
}

.link-receta {
    font-size: 1.2em;
    color:rgb(43, 29, 175);
    
}

.link-receta:hover {
    font-size: 1.8em;
    color:rgb(44, 29, 177);
    text-decoration: underline;
}

