#nav-main > ul > li > a:hover {
    text-decoration: underline;
}

#nav-main >  ul > li > span {
    color:grey ;
    margin: 0 .5em;
}

.nav-main > ul {
    display: flex;
}

.nav-main > ul > li {
    padding: 0 0em;
}

.nav-main > ul > li:last-child {
    padding: 0 0em;

}
.nav-main > ul > li:last-child span {
        display: none;
}
.nav-main .current-menu-item  a {
    pointer-events: none;
    color: grey;
    text-decoration: none;
}

.link-receta {
    font-size: 1.2em;
    color:rgb(43, 29, 175);
    
}

.link-receta:hover {
    font-size: 1.8em;
    color:rgb(44, 29, 177);
    text-decoration: underline;
}



.nav-page .page-numbers {
    margin: 0 .5em;
} 
.nav-page span.separator {
    margin-left: .5em;    
    color: rgb(174, 174, 179);

}
.nav-page a:nth-last-child(2) span {
    display: none;
}

.nav-page span.page-numbers {    
    color: grey;
}

.nav-page a:hover {
    text-decoration: underline;
}